
# Python cache
__pycache__/
*.pyc
*.pyo


# Local environnement
.env
.venv/

# Data & SQLite database
/data/bronze/
/data/silver/
/data/gold/
/data/processed/
/data/db/*.db
data/**/*.db
/data/**/*.csv
*.sqlite
db/*.sqlite


# Notebooks 
**/.ipynb_checkpoints/
notebook/test.ipynb

# OS
.DS_Store

# Archive
archive/


