# Python
__pycache__/
*.pyc

# Environments
.venv/
env/

# Data
data/raw/*.csv
data/processed/*.csv

# Data layers & SQLite database
data/bronze/
data/silver/
data/gold/
data/db/*.
*.sqlite
db/*.sqlite


# Notebooks checkpoints
**/.ipynb_checkpoints/

# OS
.DS_Store


